.search-results {
    width: 100%; /* Largura total */
    padding: 20px;
    background-color: #282828; /* Fundo escuro */
    border-radius: 5px; /* Bordas arredondadas */
    margin-top: 20px;
}

.search-results h2 {
    margin-bottom: 10px;
    font-size: 24px; /* Tamanho da fonte */
}

.track {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #B3B3B3; /* Linha separadora */
}

.track:last-child {
    border-bottom: none; /* Remove a linha da última track */
}